@import '../../index.scss';

.custom-input {
  width: 150%;
  label {
    margin-bottom: 0.7rem;
  }
  input {
    width: 100%;
    height: 48px;
    background: #ffffff;
    border: 1px solid #cccccc;
    box-sizing: border-box !important;
    border-radius: 4px !important;
    padding-left: 0.7rem;

    &:focus {
      outline: 1px solid $primary !important;
    }
  }
}

.custom-dropdown {
  width: 50%;
  select {
    padding: 5px;
    // font-size: 16px;
    // line-height: 1;
    // border: 0;
    // border-radius: 4px;
    // height: 34px;
    background: url('../../assets/icons/downArrow.svg') no-repeat right
      $white_background !important;
    -webkit-appearance: none;
    background-position-x: calc(100% - 0.4rem) !important;

    width: 100%;
    height: 48px;
    background: #ffffff;
    border: 1px solid #cccccc;
    box-sizing: border-box !important;
    border-radius: 4px !important;
    padding-left: 0.7rem;
    &:focus {
      outline: 1px solid $primary !important;
    }
  }
  label {
    margin-bottom: 0.7rem;
  }
}

// select {
//   padding: 5px;
//   font-size: 16px;
//   line-height: 1;
//   border: 0;
//   border-radius: 4px;
//   height: 34px;
//   background: url('../../assets/icons/downArrow.svg') no-repeat right
//     $white_background !important;
//   -webkit-appearance: none;
//   background-position-x: 14rem !important;
//   color: black !important;
// }

// select {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   background-image: url('../../assets/icons/plus.svg');
//   background-repeat: no-repeat;
//   background-position-x: 10%;
//   background-position-y: 1px;
//   // border: 1px solid #dfdfdf;
//   border-radius: 2px;
//   margin-right: 2rem;
//   // padding: 1rem;
//   // padding-right: 2rem;
// }
