@import '../../index.scss';

.screen-section {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 1.5rem;
  background-color: $white_background;
}

.screen-right {
  h6:not(:first-child) {
    color: $grey_one;
  }
}
