body{
    width: 100vw;
    height: 100vh;
    background-color:white;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


.container{
    width: 100vw;
    height: 100vh;
    position: relative;

}


.subcontainer{
    width: 200px;
    height: 300px;
    background-color: orange;
    gap:5px;
    border-radius: 48% 48% 20% 20%;
    flex-wrap: wrap;
    display: flex;
    position: relative;

}   

.stick{
    position: absolute;
    width: 30px;
    transform: translate(-50%,50%);
    height: 150px;
    border-radius: 20px;
    z-index: -10;
    bottom:0;
    left: 50%;
    background-color: rgb(43, 10, 10);
}


.div1,.div5{
    width: 100px;
    height: 100px;
    background-color: red;
}

.div5{
    position: absolute;
    background-color: blue;
    right:30px;
    bottom: 30px;
}