@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Raleway&display=swap');
@import './Designs//scss-variables.scss';

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'PT Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa !important;
}

$primary: #558f55;
$primary-dark: #155215;
$primary-light: #dfecdf;
$text: rgb(31, 31, 31);
$grey_one: #333333;
$grey_two: rgb(92, 92, 92);
$grey_four: rgb(144, 144, 144);
$grey_five: #aaaaaa;
$white_background: white;

.primary-btn {
  background-color: $primary;
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.4rem 1.5rem;
  text-align: center;
  border-radius: 4px;
  &:hover {
    background-color: $primary-dark;
    transition: background-color 300ms linear;
  }
}

.primary-btn-light {
  background-color: $primary-light;
  color: $primary;
  font-weight: bold;
  border: none;
  padding: 0.4rem 1.5rem;
  text-align: center;
  border-radius: 4px;
  &:hover {
    background-color: $primary;
    color: white;
    transition: all 300ms linear;
  }
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.modal-title {
  font-weight: bold !important;
}

a {
  text-decoration: none !important;
  color: $primary !important;

  &:hover {
    color: $text !important;
  }
  &:active {
    background-color: $primary-light !important;
  }
}

td {
  cursor: pointer;
}
