.ad-card {
  background-color: var(--white_background);
  padding: 1rem;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.preview-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-image: url('../../assets/images/screen-img.png');
  width: 12rem;
  height: 6.25rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
}
